


body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
    color: #333;
}

h1, h2 {
    text-align: center;
    color: #222;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

button {
    padding: 10px 20px;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

.resultados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.producto {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 15px;
    width: 250px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.precio {
    font-weight: bold;
    color: rgb(58, 204, 0);
}


/*imagenes*/
.imagen-container {
    position: relative;
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1/1;
    overflow: hidden;
    margin: auto;
}

.imagen-container .imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.4s ease-in-out;
}

/* Mostrar solo la imagen principal por defecto */
.imagen-principal {
    opacity: 1;
    z-index: 1;
}

/* Ocultar la imagen secundaria por defecto */
.imagen-secundaria {
    opacity: 0;
    z-index: 2;
}

/* Al pasar el cursor, mostrar la secundaria y ocultar la principal */
.imagen-container:hover .imagen-principal {
    opacity: 0;
}

.imagen-container:hover .imagen-secundaria {
    opacity: 1;
}

/*boton ver*/
.ver-btn {
    display: inline-block;
    margin-top: 8px;
    padding: 6px 12px;
    background-color: #222;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.ver-btn:hover {
    background-color: #444;
}

